In [1]:
import pandas as pd
import numpy as np

In [2]:
Onlineretail = pd.read_csv("C:\\Users\\Amisha\\Desktop\\etl-pipeline\\OnlineRetail.csv", encoding='iso-8859-1')

In [3]:
Onlineretail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [4]:
Onlineretail.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [5]:
# Replacing missing values in 'Description' with 'Unknown'
Onlineretail['Description'].fillna('Unknown', inplace=True)

# Replacing missing values in 'CustomerID' with 'Unknown'
Onlineretail['CustomerID'].fillna('Unknown', inplace=True)

In [6]:
Onlineretail.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Length: 541909, dtype: bool

In [7]:
Onlineretail[Onlineretail.duplicated()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,12/1/2010 11:45,1.25,17908.0,United Kingdom
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,12/1/2010 11:45,2.10,17908.0,United Kingdom
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,12/1/2010 11:45,2.95,17908.0,United Kingdom
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,12/1/2010 11:45,4.95,17908.0,United Kingdom
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,12/1/2010 11:49,2.95,17920.0,United Kingdom
...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,12/9/2011 11:34,0.39,14446.0,United Kingdom
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,12/9/2011 11:34,2.49,14446.0,United Kingdom
541692,581538,22992,REVOLVER WOODEN RULER,1,12/9/2011 11:34,1.95,14446.0,United Kingdom
541699,581538,22694,WICKER STAR,1,12/9/2011 11:34,2.10,14446.0,United Kingdom
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,12/9/2011 11:34,2.08,14446.0,United Kingdom

In [9]:
Onlineretail.drop_duplicates(inplace=True)

In [14]:

Onlineretail['Description'] = Onlineretail['Description'].str.lower().str.strip()

In [15]:
Onlineretail['TotalSales'] = Onlineretail['Quantity'] * Onlineretail['UnitPrice']
total_sales = Onlineretail['TotalSales'].sum()

print(f"Total Sales: {total_sales}")

Total Sales: 9726006.953999998

In [22]:
# Calculating customer metrics
customer_metrics = Onlineretail.groupby('CustomerID').agg({
    'InvoiceNo': 'nunique',   
    'TotalSales': 'sum',    
    'Quantity': 'sum',           
})
customer_metrics.rename(columns={
    'InvoiceNo': 'PurchaseFrequency',
    'TotalSales': 'TotalSpending',
    'Quantity': 'TotalQuantity'
}, inplace=True)

customer_metrics['AvgOrderValue'] = customer_metrics['TotalSpending'] / customer_metrics['PurchaseFrequency']

print(customer_metrics)

            PurchaseFrequency  TotalSpending  TotalQuantity  AvgOrderValue
CustomerID
12346.0                     2           0.00              0       0.000000
12347.0                     7        4310.00           2458     615.714286
12348.0                     4        1797.24           2341     449.310000
12349.0                     1        1757.55            631    1757.550000
12350.0                     1         334.40            197     334.400000
...                       ...            ...            ...            ...
18281.0                     1          80.82             54      80.820000
18282.0                     3         176.60             98      58.866667
18283.0                    16        2045.53           1357     127.845625
18287.0                     3        1837.28           1586     612.426667
Unknown                  3710     1447487.53         269651     390.158364

[4373 rows x 4 columns]